<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>
    <p>
    Splurty was built by <a target="_blank" href="https://github.com/misterbao/bootcamp">Bao</a>. Aspiring web developer.
  </p>
  <br />
  <p>
    Currently a Financial Analyst.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'bao.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Bao Nguyen</h2>
      <br />
      <p>
        Don't have a bio yet, will write one soon.
      </p>
    </div>
  </div>
</div>
<br class="clear" />
<br />
<br />
<br />
<br />